* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #333333;*/

}

@font-face {
    /*src: url('Optimus.otf');*/
    /*font-family: 'op';*/
    /*src: url('cubic.ttf');*/
    /*font-family: 'cu';*/
    /*src: url("Alien Planet.otf");*/
    /*font-family: 'alien';*/
    src: url("SpaceMono-Regular.ttf");
    font-family: 'space' ;
}

.top-nav {
    /*font-family: "Times New Roman";*/
    font-family: 'space' ;
    /*background-color: #ee3e80;*/
    /*background-color: #007FFF;*/
    background-color: #333333;
    /*background-color: #ffffff;*/
    /*background-color: #737373;*/
    overflow: hidden;
    font-size: 16px;
    /*color: #ffffff;*/
    border-style: groove;
    border-width: .5px;
    border-color: #737373;
    border-radius:5px;
    color: #ffffff;
}

.top-nav .left-nav {
    float: left;
    padding: 14px 2px;
    color: black;
    font-size: 20px;
    /*font-family: "Times New Roman";*/

    font-family: 'space' ;
    display: flex;
    color: #ffffff;
}
.top-nav .left-nav a {
    text-decoration: none;
    list-style: none;
    margin-left: .5rem;
    color: #ffffff;
}

.top-nav .right-nav {
    text-decoration: none;
    list-style: none;
    padding: 14px 16px;
    float: right;
    font-size: 20px;
    /*font-family: 'Times New Roman';*/
    font-family: 'space' ;
    /*background-color: #ffffff;*/
    color: #ffffff;
}

.top-nav .right-nav a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

.top-nav a:hover {
    background-color: #ddd;
    color: black;
}

/*.error {*/
/*    color: red;*/
/*}*/